@inject IConfiguration Configuration

<div class="actuator-div" width="@Model.SizeX" height="@Model.SizeY" style="@_divCss">
    <svg class="actuator-svg" width="@Model.SizeX" height="@Model.SizeY">
        <rect class="actuator" width="@Model.SizeX" height="@Model.SizeY" style="@_shapeCss" />
    </svg>
</div>

@code {
    [Parameter] public ActuatorModel Model { get; set; }

    private string _divCss => $"left: {Model.PositionX}px; top: {Model.PositionY}px; width: {Model.SizeX}px; height: {Model.SizeY}; visibility: {(Model.Visible ? "visible" : "hidden")};";
    private string _shapeCss => $"fill-opacity: 0; stroke-width: {_strokeWidth}; stroke: {Configuration["actuatorStrokeColor"]};";

    private double _strokeWidth;

    protected override void OnInitialized()
    {
        double.TryParse(Configuration["actuatorStrokeWidth"], out _strokeWidth);
    }
}
