<div class="actuator-container" style="@_divCss">
    <svg>
        @if (@Model.Type == "heater")
        {
            <rect class="actuator" width="@Model.SizeX" height="@Model.SizeY" style="@_shapeCss" />
        }
    </svg>
</div>

@code {
    [Parameter] public ActuatorModel Model { get; set; }

    private string _divCss => $"left: {Model.PositionX}px; top: {Model.PositionY}px; width: {Model.SizeX}px; height: {Model.SizeY}";
    private string _shapeCss => $"fill-opacity: 0; stroke-width: {_strokeWidth}; stroke: {_stroke}";

    private double _strokeWidth = 2;
    private string _stroke = "red";
}