<div class="bubble-container" style="@_divCss">
    <svg>
        <ellipse class="bubble" cx="@_xCenter" cy="@_yCenter" rx="@_xRadius" ry="@_yRadius" style="@_shapeCss" />
    </svg>
</div>

@code {
    [Parameter] public BubbleModel Model { get; set; }

    private string _divCss => $"width: {Model.SizeX}px; height: {Model.SizeY}";
    private string _shapeCss => $"fill-opacity: 0; stroke-width:{_strokeWidth}; stroke:{_stroke}";

    private double _xRadius => Model.SizeX / 2;
    private double _yRadius => Model.SizeY / 2;

    private double _xCenter => Model.PositionX + _xRadius / Math.Sqrt(2);
    private double _yCenter => Model.PositionY + _yRadius / Math.Sqrt(2);

    private double _strokeWidth = 0.5;
    private string _stroke = "black";
}