@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="droplet-container" style="@_divCss">
    <svg>
        <ellipse class="droplet" cx="@xCenter" cy="@yCenter" rx="@xRadius" ry="@yRadius" style="@_shapeCss" />
    </svg>
</div>

@code {
    [Parameter] public DropletModel Model { get; set; }

    private string _divCss => $"width: {Model.SizeX}px; height: {Model.SizeY}";
    private string _shapeCss => $"fill:{Model.Color}; stroke-width:{@Configuration["dropletStrokeWidth"]}; stroke:{@Configuration["dropletStrokeColor"]}";

    private double xRadius => Model.SizeX / 2;
    private double yRadius => Model.SizeY / 2;

    private double xCenter => Model.PositionX + xRadius / Math.Sqrt(2);
    private double yCenter => Model.PositionY + yRadius / Math.Sqrt(2);
}