<div class="droplet-container" style="@_dropletCss">
    <svg>
        <ellipse class="droplet" cx="@Model.PositionX" cy="@Model.PositionY" rx="@Model.SizeX" ry="@Model.SizeY" stroke="indigo" stroke-width="2" fill="aqua" />
    </svg>
</div>

@code {

    [Parameter] public DropletModel Model { get; set; }

    string _dropletCss => $"left: {Model.PositionX}px; top: {Model.PositionY}px; width: {Model.SizeX}px; height: {Model.SizeY}";
}