@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="droplet-container" style="@_divCss">
    <svg>
        <ellipse class="droplet" cx="@_xCenter" cy="@_yCenter" rx="@_xRadius" ry="@_yRadius" style="@_shapeCss" />
    </svg>
</div>

@code {
    [Parameter] public DropletModel Model { get; set; }

    private string _divCss => $"width: {Model.SizeX}px; height: {Model.SizeY}; transition: transform 1s; transform: translate({TranslateX}px, {TranslateY}px);";
    private string _shapeCss => $"fill:{Model.Color}; stroke-width:{@Configuration["dropletStrokeWidth"]}; stroke:{@Configuration["dropletStrokeColor"]}";

    private double _xRadius => Model.SizeX / 2;
    private double _yRadius => Model.SizeY / 2;

    private double _xCenter => Model.PositionX + _xRadius;
    private double _yCenter => Model.PositionY + _yRadius;

    public double Scale = 1;
    public int TranslateX => Model.TranslateX;
    public int TranslateY => Model.TranslateY;
}